<h2>New User</h2>

<form action= '/create_user'>
  <input type="text" name="name" placeholder="Your Name" >
  <input type="text" name="email" placeholder="blah@gmail.com">
  <input type="submit">
</form>